.heading, .subheading1 {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.heading.home-head {
    text-align: center;
    font-size: 36px;
    color: white;
    background-color: blueviolet;
}

.para {
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 1cm;
    margin-left: 7cm;
    margin-right: 7cm;
    text-align: justify;
    text-justify:inter-word;
}

.book-list {
    margin-top: 1cm;
    margin-left: 7cm;
    margin-right: 7cm;
}